
<table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=say.author.username) }}">
                    <img src="{{ say.author.avatar(70) }}" />
                </a>
            </td>
            <td>
             {% set user_link %}
            <a href="{{ url_for('user', username=say.author.username) }}">
                {{ say.author.username }}
            </a>
            {% endset %}
            {{ _('%(username)s says %(when)s',
                username=user_link, when=moment(say.timestamp).fromNow()) }}
                <br>
                {{ say.body }}
            </td>
        </tr>
    </table>
