{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Modulation{% else %}Welcome to Modulation{% endif %}
{% endblock %}

{% block navbar %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('explore') }}">Modulation</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}"><i class="fa fa-fw fa-home"></i>Home</a></li>
                    <li><a href="{{ url_for('explore') }}"><i class="fa fa-fw fa-search"></i>Explore</a></li>
                    <li><a href="{{ url_for('bpsk') }}">BPSK</a></li>
                    <li><a href="{{ url_for('dpsk') }}">DPSK</a></li>
                    

                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <style>
                    .dropbtn {
                
                        
                        padding: 16px;
                        font-size: 16px;
                        border: none;
                    }

                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #f1f1f1;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }

                    .dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }

                    

                    .dropdown:hover .dropdown-content {display: block;}

                    
                    </style>

                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">QAM</button>
                            <div class="dropdown-content">
                                <a href="qam4">4-QAM</a>
                                <a href="qam16">16-QAM</a>
                                <a href="qam64">64-QAM</a>
                            </div>
                        </div>  
                    </li> 
                    <li><a href="{{ url_for('uploads') }}">UploadFile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}
