<form id = "upload" enctype="multipart/form-data" action="/var/www/cgi-bin/test.py" method="post">
            <div id = "table">
                <table class = "center" border="1" cellpadding="10">
                    <tr><td style="height: 131px">Product Details</td>
                        <td style="height: 131px">Product Name*:&nbsp;<input type="text"  name="product" id="product" size="35" ><br /><br />
                                                  Platform*: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <input type="text"  name="platform" id="platform" size="35" >
                    </td></tr> 
                    <tr><td style="height: 131px">File Upload</td>
                    <td style="height: 131px"><p>Upload Host File: <input type="file" name="hostupload" /></p><br/>
                                                 Upload Test File: <input type="file" name="testupload" /></p>
                    </td></tr> 
                    <tr align="center"><td></td><td><input type = "submit" id="upload" value = "UPLOAD"/>
                   </td></tr>   
                </table>
            </div>
        </form>